/*********************************************

Used only for mmore flexible background color

**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
  
}

/* html{
  background: linear-gradient(0.25turn, #c4be78, #8dc156, #3d7e53);
  
} */
/* body{
  background-image: url(assets/images/title_screen.png);
} */
